<?xml version="1.0" encoding="UTF-8"?>
<AlteryxJavaScriptPlugin>
  <Properties>
    <MetaInfo>
      <Name>PDF轉置</Name>
      <Description>將PDF檔案向右翻轉指定角度。</Description>
      <ToolVersion>1.0.0</ToolVersion>
      <CategoryName>PwC DEV Tools Test</CategoryName>
      <Author>Assurance Innovation and Transformation</Author>
      <Icon>PDFRotate/icon.png</Icon>
    </MetaInfo>
  </Properties>
</AlteryxJavaScriptPlugin>